services:
  simurf:
    build: .
    container_name: simurf-emulator
    network_mode: "host"
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    volumes:
      - /dev:/dev
      - /proc:/proc