services:
  simurf:
    build: .
    container_name: simurf-emulator
    network_mode: "host"
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - /dev:/dev
      - /proc:/proc
